<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mappers.FileUploadMapper">
	<!-- 파일 정보 인서트 -->
	<insert id="insertFileInfo" parameterType="com.coduck.pond.fileupload.vo.FileUploadVo">
		insert into upload_file values(file_num_seq.nextval,#{groupNum},#{refBoardNum},#{orgFileName},#{saveFileName},#{fileSize})
	</insert>
	<!-- 그룹별 파알 정보 가져오기 -->
	<select id="getFilesByGroup">
		select * from upload_file where group_num = #{value}
	</select>
	<!-- 파일 삭제 -->
	<delete id="deleteFile" parameterType="map">
		delete from upload_file where group_num = #{groupNum} and ref_board_num = #{refBoardNum}
	</delete>
</mapper> 