<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="Mappers.ProfileMapper">
 	<!-- 회원의 소속된 그룹 가져오기 -->
 	<select id="getMemberGroupInfo" parameterType="string" resultType="com.coduck.pond.group.vo.GroupMemVo">
 		select * from group_mem where mem_email = #{value} 
 	</select>
 </mapper>