<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mappers.attendedMapper">
   
   <!-- 금일의 등원 정보 선택 -->
   <select id="selectTodayAttended" parameterType="com.coduck.pond.member.vo.MemVo"
   resultType="com.coduck.pond.schedule.vo.AttendedVo">
		SELECT
			*
		FROM
			ATTENDED
		WHERE
			GROUP_NUM = #{groupNum} 
			AND MEM_EMAIL = #{memEmail}
			AND TO_CHAR(ATTENDED_IN,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD');
   </select>
   
   <!-- 하원시간 업데이트 -->
   <insert id="insertInAttended" parameterType="com.coduck.pond.schedule.vo.AttendedVo">
	   INSERT INTO ATTENDED
		    (MEM_EMAIL, 
		    GROUP_NUM, 
		    ATTENDED_IN, 
		    ATTENDED_OUT, 
		    ATTENDED_TYPE)
		VALUES
		    (#{memEmail}, 
		    #{groupNum}, 
		    sysdate, 
		    null, 
		    'F');
   </insert>
   
   <!-- 하원 시간 업데이트 -->
   <update id="updateOutAttended" parameterType="com.coduck.pond.schedule.vo.AttendedVo">
	   INSERT INTO ATTENDED
		    (MEM_EMAIL, 
		    GROUP_NUM, 
		    ATTENDED_IN, 
		    ATTENDED_OUT, 
		    ATTENDED_TYPE)
		VALUES
		    (#{memEmail}, 
		    #{groupNum}, 
		    #{attendedIn}, 
		    SYSDATE, 
		    #{attendedType});
   </update>
</mapper>  