<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Mappers.InviteMapper">
  <!-- 학생 초대 코드 -->
  	<select id="findGroupNumS" parameterType="string" resultType="com.coduck.pond.group.vo.GroupVo">
  		select * from pond_group where invite_code_s = #{value}
  	</select>
  <!-- 선생 초대 코드 -->
  	<select id="findGroupNumM" parameterType="string" resultType="com.coduck.pond.group.vo.GroupVo">
  		select * from pond_group where invite_code_m = #{value}
  	</select>
  	
  	<insert id="insertGroupMem" parameterType="com.coduck.pond.group.vo.GroupMemVo">
  		insert into group_mem values(pond_group_seq.nextval,#{groupNum},#{memEmail},#{status})
  	</insert>
  </mapper>