<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.hwBoardMapper">
	
	<!-- 리스트  -->
	<select id="selectHwBoardList" 
	parameterType="com.coduck.pond.board.vo.BoardSrchDto"
	resultType="com.coduck.pond.board.vo.HwBoardVo">
	SELECT
		*
	FROM
		HW_BOARD
	WHERE
		GROUP_NUM = #{groupNum}		
		<if test="srchWord != ''">
			AND SUBJECT_TITLE = #{srchWord}
		</if>
	</select>
	
	<!-- 과제 생성 -->
	<insert id="insertHwBoard" parameterType="com.coduck.pond.board.vo.HwBoardVo">
		INSERT INTO
			HW_BOARD
			(
				GROUP_NUM,
				BOARD_WRITER,
				BOARD_TITLE,
				BOARD_CONTENT,
				BOARD_REGDATE,
				HW_MAX_SCORE,
				SUBJECT_TITLE,
				BOARD_TYPE
			)
			VALUES
			(
				#{groupNum},
				#{boardWriter},
				#{boardTitle},
				#{boardContent},
				sysdate,
				#{hwMaxScore},
				#{subjectTitle},
				#{boardType}
			)
	</insert>
	
	<select id="detailHwBoard" parameterType="int" resultType="com.coduck.pond.board.vo.HwBoardVo">
		select * from hw_board where BOARD_NUM = #{boardNum}
	</select>
	
	
	<!-- 과제 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		
	</delete>
	
	<select id="selectBoardSeqVal" resultType="int">
		select last_number from user_sequences where sequence_name = 'GROUP_BOARD_SEQ'
	</select>
	
</mapper> 