<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Mappers.hwSubmitMapper">
  	<insert id="insertHwSubmit" parameterType="com.coduck.pond.board.vo.HwSubmitVo">
		INSERT INTO HW_SUBMIT
		    (
			    HW_SUBMIT_GROUP_NUM,
			    HW_SUBMIT_WRITER, 
			    HW_TEACHER_ID,
			    HW_SUBMIT_SCORE,
			    HW_SUBMIT
		    )
		VALUES
		    (
			    #{hwSubmitGroupNum},
			    #{hwSubmitWriter},
			    #{hwTeacherId},
			    0, 
			    'B'
		    )
  	</insert>
  	
  	<update id="updateHwScore" parameterType="com.coduck.pond.board.vo.HwSubmitVo">
  		update hw_submit set 
  		HW_SUBMIT_SCORE = #{hwSubmitScore},
  		HW_SUBMIT = 'C'
  		where BOARD_NUM = #{boardNum}
  	</update>
  	
  	<select id="detailHw" resultType="com.coduck.pond.board.vo.HwSubmitVo" parameterType="com.coduck.pond.board.vo.HwSubmitVo">
		select * from hw_submit where HW_SUBMIT_GROUP_NUM = #{boardNum} and HW_SUBMIT_WRITER = #{hwSubmitWriter} 
  	</select>
  	
  	<select id="getSubmitList" parameterType="int" resultType="com.coduck.pond.board.vo.HwSubmitDto">
		select HW_SUBMIT_WRITER, HW_SUBMIT_SCORE, HW_SUBMIT, BOARD_NUM, HW_SUBMIT_GROUP_NUM, MEM_NAME
		from HW_SUBMIT join MEM
		on HW_SUBMIT_WRITER = MEM_EMAIL and HW_SUBMIT_GROUP_NUM = #{hwSubmitGroupNum}
  	</select>
  	
  	<!-- 과제 제출 -->
  	<update id="insertHw" parameterType="com.coduck.pond.board.vo.HwSubmitVo">
  		update hw_submit set
  		HW_SUBMIT_CONTENT = #{hwSubmitContent}, HW_SUBMIT = 'P'
  		where HW_SUBMIT_GROUP_NUM = #{boardNum} and HW_SUBMIT_WRITER = #{hwSubmitWriter} 
  	</update>
  	
  	
  	<!--  -->
  	<select id="detailSubmit" parameterType="int" resultType="com.coduck.pond.board.vo.HwSubmitVo">
  		select * from hw_submit where BOARD_NUM = #{boardNum}
  	</select>
  </mapper>